* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Header Section */
.navbar {
  background-color: rgb(171, 236, 236);
}
.hero {
  width: 100%;
  height: 93vh;
  min-height: 93vh;
  /* background-color: rgb(17, 211, 211); */
  display: flex;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
    url(./Images/Hero_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero .btn {
  background-color: teal;
  color: rgb(255, 255, 255);
  transition: 0.3s ease-in;
  border: 1px solid black;
}
.hero .btn:hover {
  background-color: rgb(110, 100, 223);
  color: rgb(255, 255, 255);
}

/* social */
.socialmedia {
    margin-bottom: 10px;
}

.socialmedia ul {
    list-style-type: none;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia li {
    display: inline;
}

.socialmedia img {
    height: 40px;
    width: 40px;
    padding: 5px;
    margin: 0px 6px;
    /* background-color: white; */
    border: 1px solid rgba(255, 255, 255, 0.236);
    border-radius: 5px;
    transition: 0.5s ease-in;
}

.socialmedia img:hover {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 7px 13px 0px inset;
}

/* Header_ End */

.about img{
    width: 420px;
    /* min-width: 430px; */
    height: 520px;
    /* min-height: 520px; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}
.about .btn-lg {
    color: rgb(255, 255, 255);
    background-color: #297641;
    border: 1px solid black;
    transition: 0.3s ease-in;
    margin-bottom: 100px;
  }
  .about .btn-lg:hover {
    background-color: teal;
    color: white;
  }
  /* ------------------------------- */

  .m-btn{
   border: 1px solid white;
  color: rgb(255, 255, 255);
  transition: 0.3s ease-in;

  }
  .m-btn:hover{
    background-color: teal;
    color: white;
  }
  /* ----------------------------- */

  /* gallery */
  .p_btn {
    color: rgb(255, 255, 255);
    background-color: #297641;
    border: 1px solid black;
    transition: 0.3s ease-in;
    margin-bottom: 100px;
  }
  
  .p_btn:hover {
    background-color: teal;
    color: white;
  }

  /* Request */
  .contactus{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url(./Images/Hero_bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .request {
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px auto;
}

.contact {
    background: rgba(25, 214, 239, 0.429);
    width: 90%;
    max-width: 800px;
    margin: 50px;
    font-family: Calibri, Arial, sans-serif;
    padding: 20px;
    box-shadow: 5px 0 20px #6c6b6b;
    border-radius: 5px;
}

label {
    display: block;
    margin: 1em 0 .2em;
}

/* single-line text, checkbox, and button */
input,
select,
textarea {
    display: block;
    width: 100%;
    padding: .3em;
    font-size: 20px;
    background-color: #fbfbfb;
    border: solid 1px #CCC;
    resize: vertical;
    border-radius: 5px;
}

textarea {
    min-height: 180px;
}

input[type=checkbox] {
    display: inline;
    width: auto;
}

input[type=submit] {
    background: lightcoral;
    margin: 1em 0 0;
    color: white;
    border: none;
    border-radius: 8px;
    transition: all .3s ease-out;
    text-align: center;
    border: 0.5px solid rgb(111, 107, 107);
}


/* hover and focus states */
input[type=submit]:hover,
input[type=submit]:focus {
    background: rgba(99, 238, 138, 0.815);
    outline: none;
    text-shadow: 1px 1px solid black;
    color: black;
    border: 0.5px solid rgb(147, 145, 145);
    
}

@media screen and (min-width:600px) {

    /*  make the form 2 columns */
    form:after {
        content: '';
        display: block;
        clear: both;
    }

    .column {
        width: 50%;
        padding: 1em;
        float: left;
    }
}
 .f-social a:hover{
    background-color: teal;


 }

