* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  /* Navbar */
  h1 {
    font-family: "Open Sans", serif;
  }
  .navbar {
      background: #FFB75E;  /* fallback for old browsers */
  }
  .hero{
    height: 70vh;
    width: 100%;
    min-height: 70vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(./Images/hhh.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 60px;
    background-color: rgb(0 0 0 / 50%);
  }
  